.add_phone_num{
  height: 50px;
  width: 50px;
  border-radius: 20%;
  background-image: url("/images/mobile_add-512.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.item-delete{
  height: 34px;

}